<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Daenerys Targaryen</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
  <div class="box">
    <div>
      <mat-toolbar>
        <img src="https://ng-hw-1.firebaseapp.com/assets/images/icon.png" alt="icon" height="50px">
        <span class="span_title">Game of Thrones</span>
        <div class="spacer"></div>
        <a mat-button>Home</a>
        <a mat-button>Story</a>
        <a mat-button>Episodes</a>
        <a mat-button>Video</a>
        <a mat-button>Log out</a>

      </mat-toolbar>
    </div>
    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col-4"><img src="https://ng-hw-1.firebaseapp.com/assets/images/photo.jpg
        " alt="photo" width="350px"></div>
        <div class="col-8">
          <h2>Daenerys Targaryen</h2>
          <hr class="hr.new1">
          <h4>Character</h4>
          <h4>Daenerys Targaryen is the daughter of King Aerys II Targaryen (also referred to as "The Mad King") and his
            sister-wife Queen Rhaella, and is one of the last survivors of House Targaryen. She serves as the
            third-person
            point-of-view character of 31 chapters of A Game of Thrones, A Clash of Kings, A Storm of Swords, and A
            Dance
            with Dragons. This makes her the series' fourth most prominent narrative voice after Tyrion Lannister, Jon
            Snow and Arya Stark.</h4>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ydi80YrCnPY"
            title="Game of Thrones | Official Daenerys Targaryen Trailer (HBO)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe></div>
        <div class="col-6">
          <h4>Personality</h4>
          <h4>Daenerys is most often described as uncommonly beautiful, with long, pale silver-gold hair and purple
            eyes.
            She is slender and pale, although taller than some of her female ancestors. Tales of Daenerys's beauty are
            numerous, and throughout the novels she encounters countless suitors who seek her hand in marriage,
            sometimes
            to gain control of her three dragons. She is fluent in the Common Tongue of Westeros, Dothraki, High
            Valyrian
            and bastard Valyrian, which she speaks with a Tyroshi accent. Over the course of the first three novels she
            becomes fluent in the Dothraki language and Ghiscari, spoken in the slave cities in Essos.</h4>
        </div>
      </div>
      <hr class="hr.new1">
      <span>Comment</span>
      <mat-form-field class="example-full-width" appearance="outline" >
        <mat-label>What do you feel about this?</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." style="height: 100px; "></textarea>
      </mat-form-field>

      <div class="row" style="margin-top: 20px;">
        <div class="col-8">
          <mat-icon class="icon">favorite</mat-icon>
          <mat-icon class="icon">favorite</mat-icon>
          <mat-icon class="icon">favorite</mat-icon>
          <mat-icon class="icon">favorite</mat-icon>
          <mat-icon class="icon">favorite</mat-icon>
        </div>
        <div class="col-4">
          <div class="button">
            <button mat-flat-button>Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
